<div class="signup-container">
  <h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>

  <section class="signup-top-bar">
    <a href="#" data-bs-toggle="modal" data-bs-target="#howToplayModal">
      <%= image_tag("pngs/bodfrens_graphics-17.png", width: "25px") %>
    </a>
      <%= render 'shared/how_to_play_modal' %>
  </section>

  <div class="signup-content">
    <%= image_tag "pngs/logo.png", width: "245px", height: "50px", id: "signup-logo" %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs signup">
        <%= f.input :username,
                    required: true,
                    label: "Username",
                    label_html: { class: "signup-label" },
                    input_html: { autocomplete: "username", class: "signup-input" } %>
        <%= f.input :email,
                    label_html: { class: "signup-label" },
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "signup-input" }%>
        <%= f.input :password,
                    required: true,
                    label_html: { class: "signup-label" },
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "signup-input" } %>
        <%= f.input :password_confirmation,
                    label_html: { class: "signup-label" },
                    required: true,
                    input_html: { autocomplete: "new-password", class: "signup-input" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "main-orange-btn signup-button" %>
        </div>
          <p class="signup-bottom-left">Already have an account? <%= link_to "Sign in", new_user_session_path, class: "signup-bottom-right" %></p>
      </div>
    <% end %>
  </div>
</div>
<!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->
  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>
  </div>
<!-- --->
