<div class="badges-container">
  <article class="select badges">Badges</article>
  <ul class="nav nav-pills" id="Badges">
    <li class="badges-item">
      <button class="nav-link active primary-btn" id="all-badges-tab" data-bs-toggle="pill" data-bs-target="#all-badges" role="tab">All Badges</button>
    </li>
    <li class="badges-item">
      <button class="nav-link primary-btn" id="your-badges-tab" data-bs-toggle="pill" data-bs-target="#your-badges" role="tab">Your Badges</button>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="all-badges" role="tabpanel">
      <% @badges.each do |badge| %>
        <div class="badge-container">
          <p class="badge-title"><%= badge.title %></p>
          <%= image_tag badge.image_url, alt: badge.title, class: 'badge-image' %>
          <p class="badge-description"><%= badge.description %></p>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="your-badges" role="tabpanel">
      <% if @earned_friend_beater %>
        <div class="badge-container">
          <p class="badge-title">Friend Beater</p>
          <%= image_tag "pngs/bodfrens_graphics-05.png", alt: 'Friend Beater', class: 'badge-image' %>
          <p class="badge-description">Win a friend in one game</p>
        </div>
      <% end %>
      <% if @earned_lone_wolf %>
        <div class="badge-container">
          <p class="badge-title">Lone Wolf</p>
          <%= image_tag "pngs/bodfrens_graphics-08.png", alt: 'Lone Wolf', class: 'badge-image' %>
          <p class="badge-description">Complete 3 single player games</p>
        </div>
      <% end %>
      <% if @earned_first_game %>
        <div class="badge-container">
          <p class="badge-title">First Game</p>
          <%= image_tag "pngs/bodfrens_graphics-07.png", alt: 'First Game', class: 'badge-image' %>
          <p class="badge-description">Play your first bodfrens game</p>
        </div>
      <% end %>
      <% if @earned_bonus_bunny %>
        <div class="badge-container">
          <p class="badge-title">Bonus Bunny</p>
          <%= image_tag "pngs/bodfrens_graphics-09.png", alt: 'Bonus Bunny', class: 'badge-image' %>
          <p class="badge-description">Finish three bonus rounds</p>
        </div>
      <% end %>
      <% if @earned_quitter %>
        <div class="badge-container">
          <p class="badge-title">Quitter</p>
          <%= image_tag "pngs/bodfrens_graphics-06.png", alt: 'Bonus Bunny', class: 'badge-image' %>
          <p class="badge-description">Um, quit a game</p>
        </div>
      <% end %>
    </div>
    <%= button_to "Back to Home", root_path, method: :get, class: "btn primary-btn badges" %>
  </div>
</div>

<!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->
  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>
  </div>
<!-- --->
