<div class="stats-page">

  <h1> Stats</h1>

  <section class="content-card"> <!-- find this in the cards component -->

    <div class="card-text">
      <h4>Your Level</h4>
      <h4> <%= @user_level %></h4>
    </div>

    <div class="card-text" data-value= "-25" method: :post>
      <h4>XP left to next level</h4>
      <h4> <%= @xp_left_to_next_level %></h4>
    </div>

    <div class="stats-spacer" style="height: 5px; width: 2px;" ></div>

    <div class="progress-bar">
      <div class="stats-progressed-bar" data-game-button-target="bar" style="width: <%= @xp_progress_percentage %>%;"></div>
    </div>
  </section>

  <section class="content-card"> <!-- find this in the cards component -->

    <div class="card-text">
      <h4>Average Workout Time</h4>
      <h4> <%= number_with_precision(@average_workout_time, precision: 2) %></h4>
    </div>

    <div class="card-text">
      <h4>Workouts Finished</h4>
      <h4> <%= @workout_finished %></h4>
    </div>

    <div class="card-text">
      <h4>Bonus Rounds Started</h4>
      <h4> <%= @bonus_games_started %></h4>
    </div>

    <div class="card-text">
      <h4>Bonus Rounds Finished</h4>
      <h4> <%= @bonus_games_finished %></h4>
    </div>

    <div class="card-text">
      <h4>Single Games Played</h4>
      <h4> <%= @single_games_played %></h4>
    </div>

    <div class="card-text">
      <h4>Single Games Finished</h4>
      <h4> <%= @single_games_finished %></h4>
    </div>

    <div class="card-text">
      <h4>Single Games Quit</h4>
      <h4> <%= @single_games_quit %></h4>
    </div>

   <div class="card-text">
      <h4>Multiplayer Games Won</h4>
      <h4> <%= @multi_games_won %></h4>
    </div>

    <div class="card-text">
      <h4>Multiplayer Games Lost</h4>
      <h4> <%= @multi_games_lost %></h4>
    </div>

    <div class="card-text">
      <h4>Multiplayer Games Quit</h4>
      <h4> <%= @multi_games_quit %></h4>
    </div>

   </section>

  <%= link_to "Back to Home", root_path, class: "stats-primary-btn"%>

</div>

    <%#
    <div class="progress-bar">
      <div class="stats-progressed-bar" data-game-button-target="bar"></div>
    </div>

    <br>

    <div class="progress-bar">
      <div class="game-progressed-bar" data-game-button-target="bar"></div>
    </div>

    <br>

    <div class="progress-bar">
      <div class="bonus-game-progressed-bar" data-game-button-target="bar"></div>
    </div>

    %>




















  <!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->

  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>
  </div>
  <!---- ########   -->
