<div class="vh-100 page-container d-flex align-items-center d-flex justify-content-center px-4 text-center">

  <h1><strong>Exercise Stats</strong></h1>

  <div class="col-md-8 select-mode-btn"> <!--- need to be fixed -->
    <h5 class="text-center text-justify text-black text-wrap fs-6"><strong> Workout time: <%= (@user_game_data.time_taken)/60%> mins</strong></h5>
  </div>

  <div class="d-flex flex-column">
      <div class="col-md-8" style=" padding: 30px; padding-block-start: 20px;">
        <h6 class = "text-white"><strong><%= 100 + @user_game_data.game_xp %> XP Earned</strong></h6>
        <h6 class = "text-black"><strong>- 100 XP Lost</strong></h6>
      </div>

    <div class= "xp-container" style=" padding-block-end: 50px;">
      <h3 class = "text-white"><strong><%= - @user_game_data.game_xp %> XP Lost</strong></h5>
      <!-- progress bar to be added: will increase with XP earned within the level -->
      <div class="progress-bar" >
        <div class="game-progressed-bar" style="width:100%"></div>
      </div>
    </div>
  </div>

  <div class="main-orange-btn">
    <strong><%= link_to "Play Again?", mode_select_rooms_path , style: "color: white; text-decoration: none;"%></strong>
  </div>

  <div class="gray-modal-btn">
    <strong><%= link_to "Exit", root_path , style: "color: black; text-decoration: none;"%></strong>
  </div>

</div>

<div class="bg-container">
  <div class="bg-color" style = "width: 100wv; height:100vh">
  </div>
</div>
