<div class="px-4 page-container d-flex align-items-center d-flex justify-content-center text-center">

  <h1><strong>Exercise Stats</strong></h1>

  <div class="col-md-8 select-mode-btn" style= "display: flex; flex-wrap: wrap; align-content: center;">
    <h5 class="text-center text-justify text-black text-wrap fs-6"><strong> Workout time: <%= (@user_game_data.time_taken)/60%> mins</strong></h5>
      <% if @user_game_data.bonus_finish %>
        <h5 class="text-center text-black text-wrap fs-6">Bonus Round Completed!</h5>
      <% end %><br>
     </h5>
  </div>

<div class="d-flex flex-column">

  <div class= "xp-container" style=" padding-block-start: 30px; width:100%;">
    <h3 class = "text-white"><strong><%= @user_game_data.game_xp %> XP Earned</strong></h5>
    <!-- progress bar to be added: will increase with XP earned within the level -->
    <div class="progress-bar" >
      <div class="game-progressed-bar" style="width:100%"></div>
    </div>
  </div>

  <div class="col-md-8" style="padding-block-start: 30px; padding-block-end:30px;">
  <% if @user_level.to_i > @user_start_level.to_i %>
    <h5 class = "text-white"><strong><%= "You leveled up!"%></strong></h5>
    <h6 class = "text-white">You are at level <%= @user_level %> now.</h6>
  <% else %>
    <h5 class = "text-white"><strong>You are at level <%= @user_level %>!</strong></h5>
  <% end %>
  </div>

  <!-- Badges (to be inserted; based on what was earned from the game) -->
  <div class="col-md-8" style="padding-block-start: 30px; padding-block-end:30px;">
  <% badges_earned = [] %>
  <% badges_earned << "Friend Beater" if @friend_beater_gained %>
  <% badges_earned << "Lone Wolf" if @lone_wolf_gained %>
  <% badges_earned << "First Game" if @first_game_gained %>
  <% badges_earned << "Bonus Bunny" if @bonus_bunny_gained %>
  <% badges_earned << "Quitter" if @quitter_gained %>
  <% if badges_earned.empty? %>
    <h5 class = "text-white"><strong>No badges earned.</strong></h5>
  <% else %>
    <h5 class = "text-white"><strong>Badge Earned!</strong></h5>
    <% badges_earned.each do |badge| %>
      <h5 class = "text-white"><strong>You earned the <%= badge %> badge.</strong></h5>
    <% end %>
  <% end %>
  </div>

 </div>


  <div class="main-orange-btn">
    <strong><%= link_to "Play Again?", mode_select_rooms_path , style: "color: white; text-decoration: none;"%></strong>
  </div>

  <div class="gray-modal-btn">
    <strong><%= link_to "Exit", root_path , style: "color: black; text-decoration: none;"%></strong>
  </div>

</div>

<div class="bg-container">
  <div class="bg-color">
    <div class="bg-infinite">
    </div>
  </div>
</div>
