
<div class="homepage-container">

  <h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>

  <div class="homepage-top-bar-left px-2">
    <div class="d-flex align-items-center gap-2">
      <% if current_user.profile_photo.attached? %>
        <%= cl_image_tag(current_user.profile_photo.key, class: "profile-pic") %>
      <% else %>
        <%= image_tag("svgs/bodfrens_graphics-01.svg", class: "profile-pic" ) %>
      <% end %>
      <div class="user-bar-details">
        <% if @username.blank? %>
          <h4><%= "User" %>, Level <%= @user_level %></h4>
        <% else %>
          <h4><%= @username %>, Level <%= @user_level %></h4>
        <% end %>
        <%= link_to "Settings", edit_user_registration_path  %>
      </div>
    </div>
    <a href="#" data-bs-toggle="modal" data-bs-target="#howToplayModal">
      <%= image_tag("pngs/bodfrens_graphics-17.png", width: "25px") %>
    </a>
  </div>
    <%= render 'shared/how_to_play_modal' %>


  </section>

  <div class="spacer" style="width: 1px; height: 250px"></div>

  <%= image_tag "pngs/logo.png", width: "85%", class: "animate__animated animate__fadeInDown"%>
  <%= link_to mode_select_pages_path, class: "main-orange-btn animate__animated animate__fadeInDown" do%>
    <span><p style="margin:0; display:flex; gap: 4px;">Start<%=image_tag("svgs/start_button_image.svg")%></p></span>
  <% end %>
  <div class="spacer" style="width: 1px; height: 110px"></div>

  <div class="homepage-bottom">

    <div class="homepage-bottom-left">

      <%= link_to exercises_path, style: "text-decoration:none;"  do %>
        <div class= "homepage-bottom-top-left animate__animated animate__fadeIn">
          <h5> Exercises</h5>
          <p> View all </h5>
        </div>
      <% end %>

      <%= link_to badges_path, style: "text-decoration:none;" do %>
        <div class= "homepage-bottom-bottom-left animate__animated animate__fadeIn">
          <h5> Badges</h5>
          <p> View </h5>
        </div>
      <% end %>

    </div>

    <% if current_user %>
      <%= link_to user_path(current_user), class: "homepage-bottom-right animate__animated animate__fadeIn" do %>
        <div>
          <h5> Stats</h5>
          <p> View </h5>
        </div>

        <div class="left-align">
          <h6> <%= @workout_played %> </h6>
          <p> total games played </p>
        </div>
      <% end %>
    <% end %>


  </div>



  <!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->

    <div class="bg-container">
      <div class="bg-color">
        <div class="bg-infinite"></div>
      </div>
    </div>

  <!-- --->


</div>
