
<div class="homepage-container">

  <h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>

  <section class="homepage-top-bar">

    <div class="homepage-top-bar-left">
      <%= image_tag("svgs/bodfrens_graphics-01.svg", width: "55px") %>
      <div class="user-bar-details">
        <h4>Username, Level <%= @user_level %></h4>
        <%= link_to "Settings", edit_user_registration_path  %>
      </div>
    </div>

      <a href="#" data-bs-toggle="modal" data-bs-target="#howToplayModal">
        <%= image_tag("pngs/bodfrens_graphics-17.png", width: "25px") %>
      </a>
        <%= render 'shared/how_to_play_modal' %>

  </section>

  <div class="spacer" style="width: 1px; height: 250px"></div>

  <%= image_tag "pngs/logo.png", width: "85%", class: "animate__animated animate__fadeInDown"%>
  <%= link_to "Start", mode_select_pages_path, class: "main-orange-btn animate__animated animate__fadeInDown" %>

  <div class="spacer" style="width: 1px; height: 110px"></div>

  <div class="homepage-bottom">

    <div class="homepage-bottom-left">

      <%= link_to exercises_path, style: "text-decoration:none;"  do %>
        <div class= "homepage-bottom-top-left animate__animated animate__fadeIn">
          <h5> Exercises</h5>
          <p> View all </h5>
        </div>
      <% end %>

      <%= link_to badges_path, style: "text-decoration:none;" do %>
        <div class= "homepage-bottom-bottom-left animate__animated animate__fadeIn">
          <h5> Badges</h5>
          <p> View </h5>
        </div>
      <% end %>

    </div>

    <% if current_user %>
      <%= link_to user_path(current_user), class: "homepage-bottom-right animate__animated animate__fadeIn" do %>
        <div>
          <h5> Stats</h5>
          <p> View </h5>
        </div>

        <div class="stats">
          <h1> <%= @workout_finished %> </h1>
          <p> total games played </p>
        </div>
      <% end %>
    <% end %>


  </div>



  <!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->

    <div class="bg-container">
      <div class="bg-color">
        <div class="bg-infinite"></div>
      </div>
    </div>

  <!-- --->


</div>
