
<div class="container main">
  <article class="select">Select Mode</article>
  <button type="button" class="select-mode-btn animate__animated animate__fadeInDown" data-bs-toggle="modal" data-bs-target="#singleModal">
    <%= image_tag("svgs/bodfrens_graphics-03.svg", style: "width: 36px;height:45px; padding-right: 15px;") %>Single Player
  </button>
  <button type="button" class="select-mode-btn animate__animated animate__fadeInDown" data-bs-toggle="modal" data-bs-target="#multiModal">
    <%= image_tag("svgs/bodfrens_graphics-04.svg", style: "width: 50px;height:45px; padding-right: 15px;") %>Multi-Player
  </button>
  <%= button_to "Cancel", root_path, method: :get, class: "btn btn-primary", id: "cancel-btn" %>

<!--------Single Modal-------->
  <div class="modal fade" id="singleModal" tabindex="-1" aria-labelledby="singleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          Start a single player match?
        </div>
        <div class="modal-footer">
           <%= button_to "Yes", single_player_path, class: "main-orange-btn", style: "width: 150px; height: 50px;" %>
          <button data-bs-dismiss="modal" type="button" aria-label="Close" class="gray-modal-btn" style="width: 150px; height:50px;">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------->

<!--------Multi Modal-------->
  <div class="modal fade" id="multiModal" tabindex="-1" aria-labelledby="multiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          Start a multiplayer match?
          <!--Start a multiplayer match?-->
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary">Yes</button>-->
          <%= button_to "Yes", mode_select_rooms_path, class: "main-orange-btn", style: "width: 150px; height: 50px;" %>
          <button data-bs-dismiss="modal" type="button" aria-label="Close" class="gray-modal-btn" style="width: 150px; height:50px;">No</button>
        </div>
      </div>
    </div>
  </div>
<!--------------------------->
</div>









<h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>




<!-- The divs above are just for the scrolling animation and bg
find them under the _backgrounds.scss in components -->

<div class="bg-container animate__animated animate__fadeIn">
  <div class="bg-color">
    <div class="bg-infinite">
    </div>
  </div>

</div>

<!-- ##---->
