<div class="signup-container">
  <h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>

  <section class="signup-top-bar">
    <%= image_tag("pngs/bodfrens_graphics-17.png" , width: "25px" )%>
  </section>

  <div class="signup-content">
    <%= image_tag "pngs/logo.png", width: "245px", height: "50px", id: "signup-logo" %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs signup mt-4">
        <%= f.input :email,
                    label_html: { class: "signup-label" },
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "signup-input"  } %>
        <%= f.input :password,
                    required: true,
                    label_html: { class: "signup-label" },
                    input_html: { autocomplete: "current-password", class: "signup-input"  } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "main-orange-btn login-button" %>
        </div>
        <div class="signin-bottom">
          <p class="signup-bottom-left">Don’t have an account? <%= link_to "Sign up", new_user_registration_path, class: "signup-bottom-right" %></p>
          <p class="signup-bottom-left"><%= link_to "Forgot password?", new_user_password_path, class: "signup-bottom-left" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>




<!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->
  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>
  </div>
<!-- --->
