<h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>

<div class="container multiplayer" data-controller="multiplayerroom-subscription"
data-multiplayerroom-subscription-room-id-value="<%= @room.id %>"
data-multiplayerroom-subscription-player-1-user-id-value="<%= @player1.id %>"
data-multiplayerroom-subscription-player-2-user-id-value="<%= @player2_user_id %>">
  <header class="multiplayer-top">
    <section class="timer">15:00</section>
    <button type="button" class="multiplayer giveup-btn">Give Up</button>
  </header>

  <main class="current-user" data-multiplayerroom-subscription-target="player1exercise">
    <% @player1_regular_exercises.each do |active_exercise| %>
      <div class="user-btn" data-action="click->multiplayerroom-subscription#updateActiveExerciseWithFinish" id="<%= active_exercise.id %>">
        <button class="icon" id="user-btn-img">
          <%= image_tag("svgs/search_logo_gray.svg") %>
        </button>
        <button type="button" class="button user" style="padding-left: 60px" id="button-<%= active_exercise.id %>">
          <h3 class="text fs-5"><%= active_exercise.exercise.title %></h3><h5 class="xp"><%= active_exercise.exercise.exercise_xp %>XP</h5>
        </button>
      </div>
    <%end %>

      <div class= "xp-container user" style="width:65%; ">
        <div class="progress-bar" style="background: grey;"></div>
        <div class="d-flex xp-points earn-points">
          <p>0</p><p>/120 XP EARNED</p>
        </div>
      </div>
  </main>

  <main class="opponent" data-multiplayerroom-subscription-target="player2exercise">
    <section class="opponent-left">

      <% @player2_regular_exercises.each do |active_exercise| %>
        <div class="opponent-btn-container">
          <button type="button" class="opponent-button" id="button-<%= active_exercise.id %>">
            <h3 class="opp-button-text"><%= active_exercise.exercise.title %></h3>
          </button>
        </div>
      <% end %>
      <div class= "xp-container">
        <div class="progress-bar" style="background: grey;"></div>
      </div>
    </section>
    <section class="opponent-right">
      <aside class= "opp-aside">
        <p class="opp-title">Your Bodfren</p>
        <%= image_tag("svgs/bodfrens_graphics-01.svg", class: "opp-img") %>
        <p class="opp-username">Username</p>
        <p class="opp-lvl">lvl 39</p>
        <p class="workout-complete">Workout Complete!</p>
        <p class="bonus-round">Your bodfren has opted for a bonus round!</p>
      </aside>
    </section>
  </main>
</div>
<!-- The divs above are just for the scrolling animation and bg
find them under the _backgrounds.scss in components -->
<h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>
<div class="bg-container animate__animated animate__fadeIn">
  <div class="bg-color-gray"></div>
</div>
