<h1>THIS IS THE MULTIPLAYER SHOW PAGE</h1>
<h2>should render a partial page to wait for other players to join</h2>

<div
  data-controller="multiplayerroom-subscription"
  data-multiplayerroom-subscription-multiplayerroom-id-value="<%= @room.id %>"
> </div>

<!-- ruby code to determine game length -->
<% seconds_till_end = 0 %>

<% if @room.bonus %>
  <% seconds_till_end = 60 %>
  <% exercises = @bonus_exercises %>
<% else %>
  <% seconds_till_end = 180 %>
  <% exercises = @regular_exercises %>
<% end %>
<!-- -->

<!-- ruby code to determine previous time taken -->
<% time_taken = 0 %>

<% if @user_game_data.time_taken == nil %>
  <% time_taken = 0 %>
<% else %>
  <% time_taken = @user_game_data.time_taken %>
<% end %>
<!-- -->

<div class="game-controller-div"

  data-controller="game"
  data-game-time-taken-value="<%=time_taken%>"
  data-game-xp-value="<%=@room.bonus ? @user_game_data.game_xp : 0%>"
  data-game-room-value="<%=@room.id%>"
  data-game-user-value="<%=@user%>"
  data-game-end-value="<%= @room.bonus ? @bonus_xp + @regular_xp : @regular_xp %>"
  data-game-data-id-value=<%=@user_game_data.id%>
  data-game-seconds-left-value="<%= seconds_till_end %>">

  <div class="room-page-container">
    <div class="spacer" style="height:5%; width 2px;"></div>

    <section class="timer">
      <%= content_tag(:h1, "Go!", data: {
        game_target: "timer",
        # seconds_until_end_value: 900
        # KIV this, for some reason it's not being read in the controller
      }) %>
    </section>

    <section class="game-buttons-container animate__animated animate__fadeInDown">
      <% exercises.each_with_index do |exercise, index| %>
        <div>
          <button class="icon" data-bs-toggle="modal" data-bs-target="#exerciseModal<%=index + 1%>">
            <%= image_tag("svgs/search_logo_gray.svg") %>
          </button>
          <button
            data-controller="multiplayerroom-subscription"
            data-game-target="<%= @room.bonus ? 'bonusButton' : 'button' %>"
            data-action="<%= @room.bonus ? 'click->game#markBonusComplete click->multiplayerroom-subscription#markBonusComplete' : 'click->game#markComplete click->multiplayerroom-subscription#markComplete'%>"
            value="<%= exercise.exercise_xp %>"
            class="button"
          >
            <span class="spacer" style="width:10%"></span><h3 class="text" style="width: fit-content; text-align: center;"><%="#{exercise.title}"%></h3> <h5 class="xp"><%="#{exercise.exercise_xp}XP"%></h5>
          </button>
        </div>
      <% end %>
    </section>


    <div class= "xp-container" style="width:65%; ">
      <div class="progress-bar" style= <%= @room.bonus ? "background: white;" : ''%>  >
        <div class=<%= @room.bonus ? 'bonus-game-progressed-bar' : 'game-progressed-bar'%> data-game-target="bar"></div>
      </div>
      <div class="d-flex xp-points">
      <p data-game-target="barExp">0</p><p data-game-target="barFinalExp">/120 XP EARNED</p>
      </div>
    </div>

    <% if @room.bonus %>
      <button type="button" class="give-up-btn" data-bs-toggle="modal" data-bs-target="#giveUpModal">End Game</button>
    <% else %>
      <button type="button" class="give-up-btn" data-bs-toggle="modal" data-bs-target="#giveUpModal">Give Up</button>
    <% end %>

    <!---Modals---->
    <!--------Bonus Modal-------->
    <section class="hidden-modal animate__animated animate__fadeIn" id="bonusPromptModal" tabindex="-1" >
        <div class="modal-dialog" style="width:90%;">

          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              Congratulations! You finished your workout. <br>
              Opt for a bonus round?
            </div>
            <div class="modal-footer">
              <%= button_to "Yes", "#", data: {action: "click->game#startBonus"}, class: "main-orange-btn", style: "width: 150px; height: 50px;" %>
              <%= link_to "No", show_game_complete_room_path, class: "gray-modal-btn", style: "width: 150px; height: 50px;" %>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!--------Give Up/End Game Modal-------->
    <section class="modal fade" id="giveUpModal" tabindex="-1" aria-labelledby="giveUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <% if @room.bonus? %>
                End the bonus round? There won't be a penalty.
              <% else %>
                Giving up will forfeit your current points and 100XP<br>Are you sure?
              <% end %>
            </div>
            <div class="modal-footer">
              <% if @room.bonus? %>
                <button type="button" data-action="click->game#updateUserGameDatumWithBonusEnd" class="main-orange-btn" style="width: 150px; height: 50px;">Yes</button>
              <% else %>
                <button type="button" data-action="click->game#updateUserGameDatumWithQuit" class="main-orange-btn" style="width: 150px; height: 50px;">Yes</button>
              <% end %>
              <button data-bs-dismiss="modal" type="button" aria-label="Close" class="gray-modal-btn" style="width: 150px; height:50px;">No</button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--------Exercise Modals-------->
    <% exercises.each_with_index do |exercise, index| %>
      <section class="modal fade" aria-labelledby="exerciseModal<%=index + 1%>Label" aria-hidden="true" id="exerciseModal<%=index + 1%>" tabindex="-1">
          <div class="modal-dialog">

            <div class="exercise-modal">
              <div class="modal-header">
              </div>
              <div class="modal-body">
                <h1><%= exercise.title %><br><h1>
                <%= image_tag(asset_path(exercise.image_url), style: "width: 120px") %><br>
                <p><%= exercise.description %></p>
              </div>
              <div class="modal-footer">
                <button data-bs-dismiss="modal" type="button" aria-label="Close" class="give-up-btn">Close</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% end %>
  </div>

</div>










<h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>


<!-- The divs above are just for the scrolling animation and bg
find them under the _backgrounds.scss in components -->

<div class="bg-container animate__animated animate__fadeIn">
  <div class= <%= @room.bonus ? "bg-color-orange" : "bg-color-gray" %>></div>
</div>

<!-- ##---->







    <!-- These two buttons are just to test the start bonus function and the quit

    THEY WILL NEED TO BE ADDED INTO THE MODALS -->

    <!--
    <% if @room.bonus %>
      <%= link_to "End Game", show_game_complete_room_path %>
    <% else %>
      <a href="/room/<%=@room.id%>/game_stats" data-action="click->game#updateUserGameDatumWithQuit">Give Up</a>
    <% end %>
     ##-->
