<div class="page-container"
  data-controller="game"
  data-game-room-value="<%=@room.id%>"
  data-game-user-value="<%=@user%>"
  data-game-end-value="<%=@end_game_xp%>"
  data-game-data-id-value=<%=@user_game_data.id%>
>
  <h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>


        <p>Room ID: <%= @room.id %></p>


    <div class="container d-flex justify-content-center align-items-center flex-column mt-5 ">


  <%= content_tag(:h1, "15 : 00", data: {
    game_target: "timer",
    # seconds_until_end_value: 900, # KIV this, for some reason it's not being read in the controller
  }) %>

    <% @active_exercises.each do |exercise| %>

      <div class="container d-flex justify-content-center align-items-center flex-column">
        <%= button_to "#{exercise.title}, #{exercise.exercise_xp}", "#",
        data: {
          game_target: "button",
          action: "click->game#markComplete",
          },
          value: "#{exercise.exercise_xp}",
          style: "margin: 5px; width:200px; background-color: blue;",
          class: "btn btn-primary"
        %>
    <% end %>

    <div class="progress-bar" style="width:70%">
      <div class="game-progressed-bar" data-game-target="bar"></div>
    </div>

    <p data-game-target="xp" ></p>

  </div>


<!--


--->

</div>















  <!-- The divs above are just for the scrolling animation and bg
  find them under the _backgrounds.scss in components -->

  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>

  </div>

  <!-----####------>
