


<!-- ruby code to determine game length -->
<% seconds_till_end = 0 %>

<% if @room.bonus %>
  <% seconds_till_end = 600 %>
  <% exercises = @bonus_exercises %>
<% else %>
  <% seconds_till_end = 900 %>
  <% exercises = @regular_exercises %>
<% end %>
<!-- -->

<div class="game-controller-div"

  data-controller="game"
  data-game-xp-value="<%=@room.bonus ? @user_game_data.game_xp : 0%>"
  data-game-room-value="<%=@room.id%>"
  data-game-user-value="<%=@user%>"
  data-game-end-value="<%= @room.bonus ? @bonus_xp + @regular_xp : @regular_xp %>"
  data-game-data-id-value=<%=@user_game_data.id%>
  data-game-seconds-left-value="<%= seconds_till_end %>">

  <div class="room-page-container">
    <h5 class="disclaimer">Bodfrens is only available on mobile, find us there!</h5>

    <div class="container d-flex justify-content-center align-items-center flex-column mt-5 ">
        <section class="timer">
          <%= content_tag(:h1, "Go!", data: {
            game_target: "timer",
            # seconds_until_end_value: 900
            # KIV this, for some reason it's not being read in the controller
          }) %>
        </section>

        <section class="exercises">
          <% exercises.each do |exercise| %>
            <div class="container d-flex justify-content-center align-items-center flex-column">
              <%= button_to "#{exercise.title}, #{exercise.exercise_xp}", "#",
              data: {
                game_target: @room.bonus ? "bonusButton" : "button",
                action: @room.bonus ? "click->game#markBonusComplete" : "click->game#markComplete",
                },
                value: "#{exercise.exercise_xp}",
                style: "margin: 5px; width:200px  ; background-color: blue;",
                class: "btn btn-primary"
              %>
          <% end %>
        </section>

        <!-- These two buttons are just to test the start bonus function and the quit

        THEY WILL NEED TO BE ADDED INTO THE MODALS -->


        <% if @room.bonus %>
          <%= link_to "End Game", show_game_complete_room_path %>
        <% else %>
          <a href="/room/<%=@room.id%>/game_stats" data-action="click->game#updateUserGameDatumWithQuit">Quit</a>
        <% end %>
        <!-- ##-->

        <div class="progress-bar" style="width:70%">
          <div class="game-progressed-bar" data-game-target="bar"></div>
        </div>

      </div>



    <!---Modals---->
    <!--------Bonus Modal-------->
    <section class="hidden-modal" id="bonusPromptModal" tabindex="-1">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              Congratulations! You finished your workout. <br>
              Opt for a bonus round?
            </div>
            <div class="modal-footer">
              <%= button_to "Yes", "#", data: {action: "click->game#startBonus"}, class: "main-orange-btn", style: "width: 150px; height: 50px;" %>
              <%= link_to "No", show_game_complete_room_path, class: "gray-modal-btn", style: "width: 150px; height: 50px;" %>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!--------Bonus Modal-------->
    <section class="hidden-modal" id="GiveUpModal" tabindex="-1">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              Giving up will forfeit 100XP <br>
              Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" data-action="click->game#startBonus" class="main-orange-btn" style="width: 150px; height: 50px;">Yes</button>
              <%= link_to "No", "#", class: "gray-modal-btn", style: "width: 150px; height: 50px;", data: {action: "click->game#startBonus"} %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
