<div class ="exercises-container">
  <div class="exercise-page-container" style="padding-top: 5%; display: flex; justify-content: center;">
    <h1 class="text-white"> <strong>Exercises</strong></h1>

    <div id="exerciseCarouselIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="false">
      <div class="carousel-inner">

        <% @exercises.each_slice(4).each_with_index do |exercise_slice, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% exercise_slice.each do |exercise| %>
                <div class="main-div">


                      <div class="exercises-small-gif">
                        <%= image_tag(asset_path(exercise.image_url), class: 'exercises-small-gif') %>
                      </div>
                      <div class="col-md-8">
                        <div>
                          <h5 class="exercises-title text-white"><%= exercise.title %></h5>
                          <p class="exercises-text ">
                            <%= exercise.description %><br>
                          </p>
                        </div>
                      </div>


                </div>
              <% end %>

            </div>
          </div>
        <% end %>

      </div>
        <div class="carousel-indicators excercises">
          <button type="button" data-bs-target="#exerciseCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#exerciseCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    </div>
      <div class="primary-btn">
        <strong><%= link_to "Back to Home", root_path , style: "color: white; text-decoration: none;"%></strong>
      </div>
  </div>
</div>

  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>
  </div>
