<div class="page-container" style="padding-top: 15%;">
  <h1 class="text-white"> <strong>Exercise </strong></h1>

  <div id="exerciseCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">

      <% @exercises.each_slice(5).each_with_index do |exercise_slice, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row">

            <% exercise_slice.each do |exercise| %>
              <div class="main-div">


                    <div class="exercises-small-gif">
                      <%= image_tag(asset_path(exercise.image_url), class: 'exercises-small-gif') %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="exercises-title text-white"><%= exercise.title %></h5>
                        <p class="card-text text-white">
                          <%= exercise.description %><br>
                        </p>
                      </div>
                    </div>


              </div>
            <% end %>

          </div>
        </div>
      <% end %>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#exerciseCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#exerciseCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <div class="primary-btn">
      <strong><%= link_to "Back to Home", root_path , style: "color: white; text-decoration: none;"%></strong>
    </div>
</div>

  <div class="bg-container">
    <div class="bg-color">
      <div class="bg-infinite">
      </div>
    </div>
  </div>
